[build]
  base = "pc-market"
  command = "npm run build"
  publish = "dist/pc-market/browser"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
