# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

node_modules
vite

npm-debug.log
yarn-error.log

/dist
/tmp
/out-tsc
/coverage
/bazel-out

/testem.log
/libpeerconnection.log
/typings
screenshots/

/.angular/cache
/pc-market/.angular/cache

*.tsbuildinfo

pc-market/.angular/cache/*/pc-market/.tsbuildinfo

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


.history/
/connect.lock


.DS_Store
Thumbs.db
