<section>
  @if (!loading()) {
    @if (product()) {
      <div class="product-view">
        <img [src]="product()!.imageUrl" alt="{{ product()!.productName }}" />
        <div class="product-info">
          <p class="seller">{{ product()!.shopName }}</p>
          <h1>{{ product()!.productName }}</h1>
          <p class="category"><strong>Category:</strong> {{ product()!.categoryId }}</p>
          <p class="description">{{ product()!.description }}</p>
          <p class="price">${{ product()!.price }}</p>
          <button class="add-to-cart" (click)="addToCart(product()!)">Add to Cart</button>
          <button class="return-button" routerLink="/">← Back to Products</button>
        </div>

        <div class="product-added-box" id="product-modal">
          <button (click)="closeModal()" class="close-btn">&times;</button>
          <p>Product added to cart!</p>
        </div>
      </div>
    } @else {
      <p>Product not found.</p>
    }
  } @else {
    <p>Loading product details...</p>
  }
</section>
