/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
p, h1, h2, h3, h4, h5, h6, a, select, button, input, textarea, li {
  font-family: 'REM', sans-serif !important;
}
/* ===== MAIN LAYOUT ===== */
main {
  padding: 100px 150px 0 150px; /* top padding for fixed navbar */
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* --- SELLER CONDUCT GLOBAL STYLING --- */
.container-child.seller-info a {
  text-decoration: none;
  color: #007bff;
}
/* --- Seller Code Button --- */
.seller-code-button {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
}

/* --- Pop-up Container --- */
.pop-up-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* --- Pop-up Box --- */
.pop-up-box {
  background: #fff;
  color: #000;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: left;
  animation: scaleIn 0.3s ease;
}

/* --- Close Button --- */
.close-button {
  padding: 10px 15px;
  border: 1px solid #fff;
  width: 10vh;
  border-radius: 5px;
  background: rgb(255, 84, 84);
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}
.close-button:hover {
  background: rgb(175, 24, 24);
}

/* --- Seller Code Item --- */
.pop-up-container .seller-code-item {
  background-color: rgb(240, 237, 191) !important;
  border-left: 5px solid #e09a32 !important;
}

/* --- Add to Cart Button --- */
.add-to-cart {
  display: inline-block;
  margin: 10px 10px;
  padding: 8px 12px;
  background-color: #9df0ff;
  color: black;
  border: 2px solid #71abb6;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s ease-in-out;
}
.add-to-cart:hover {
  background-color: rgb(129, 216, 219);
}

/* --- Successful Addition Message --- */
.product-added-box {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: #17a2b8;
  color: white;
  border: none;
  animation: scaleIn 0.3s ease;
}
.product-added-box p {
  text-align: center;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}
.close-btn {
  margin: 0px 10px 0px 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
/* Animations */
/* Smooth gradient slide */
@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
